* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.7em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: #333;
}
 
body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #e74c3c);
  border-radius: 16px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #943126);
  border-radius: 16px;
}

/*----------------------------------------PreLoader---------------------------------------------*/
#loader{
  position: fixed;
  background: #333;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3.5);
}
.indicator svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.indicator svg polyline#back {
  stroke: rgba(52,152,219,0.3);
}
.indicator svg polyline#front {
  stroke: #e74c3c;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite;
}
.cta {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: #222;
  font-weight: bold;
}
@-moz-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}


/*----------------------------------------NavigationBar---------------------------------------------*/
.nav {
  height: 50px;
  width: 100%;
  top: 0px;
  z-index: 99!important;
  background: rgba(0,0,0,0.8);
  position: fixed;
}

.nav .nav-header {
  display: inline;
}

.nav .nav-header .nav-logo img{
  height: 50px;
  padding: 10px 10px 10px 20px;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  float: right;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
}
.nav .nav-links  a {
  padding: 8px 15px;
  text-decoration: none;
  color: #e74c3c;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}

.nav .nav-links a:hover {
  border-radius: 8px;
  box-shadow: 0 0 8px #e74c3c,
              0 0 8px #e74c3c;
}

.nav #nav-check {
  display: none;
}

@media (max-width:980px) {
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #e74c3c;
  }
  .nav .nav-links {
    position: absolute;
    display: inline-block;
    width: 220px;
    background-color: #333;
    height: 0px;
    overflow-y: hidden;
    top: 50px;
    right: 0px;
    background: rgba(0,0,0,0.8);
  }

  .nav .nav-links a{
    width: 100%;
  }

  .nav .nav-links a:hover {
    box-shadow: none;
    color: #efefef;

  }
  .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav #nav-check:checked ~ .nav-links {
    height: 300px;
    overflow-y: auto;
  }
}

/*----------------------------------------Slider Section---------------------------------------------*/
.carousel{
	position: relative;
	z-index: 20;
}
.carousel-item{
  height: 100vh;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-indicators li {
  width: 10px!important;
  height: 10px!important ;
  border-radius: 100%;
}

.carousel-indicators .active{
  background-color: #e74c3c;
}

.carousel-caption{
  top: 55%;
  transform: translateY(-50%);
  bottom: initial!important;

}

.carousel-caption h2{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bolder!important;
  font-family: 'Montserrat', sans-serif;
}

.carousel-caption h3{
  font-size: 2.5vw;
}

.carousel-caption h2 span{
  font-family: 'Montserrat', sans-serif;
  color: #e74c3c;
}

.carousel-caption a{
  background: #e74c3c;
  font-size: 12px;
  padding: 12px 18px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  border-radius: 25px;
}


/*-----------------------------------------About----------------------------------------------------*/
#about{
	margin-top: 50px;
	padding: 50px;
	color: #555;
}
.row{
	text-align: center;
}

#about .btn{
	background-color: #e74c3c!important;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #fff;
	padding: 12px 18px;
    border-radius: 25px;

}

.about-content{
	padding-top: 20px;
}

.skills-bar p{
	margin-bottom: 6px;
	font-weight: 500;
}

.progress-bar{
	border-radius: 16px;
	background-color: #e74c3c !important;
}

.progress{
	border-radius: 16px!important;
	margin-bottom: 25px;
}

/*----------------------------------------Services-------------------------------------------------*/
#services{
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/services.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef!important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}

#services h5{
	text-align: center;
	color: #efefef!important;
	padding-bottom: 10px;
	font-weight: 500;
	font-size: 6vh;
}

#services h5::after{
	content: '';
	background: #e74c3c;
	display: block;
	height: 3px;
	width: 170px;
	margin: 15px auto 5px;
}

.services{
	margin-top: 40px;
}

.icon{
	font-size: 40px;
	margin: 20px auto;
	padding: 10px;
	height: 80px;
	width: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
}

#services p{
	margin-top: 20px;
	font-size: 14px;
	color: #ccc;
}


/*----------------------------------------Portfolio-------------------------------------------------*/
.jumbotron{
	border-radius: 0;
	padding: 3rem 0 2rem;
}

.jumbotron h5{
	text-align: center;
	color: #555!important;
	padding-bottom: 50px;
	font-weight: 500;
	font-size: 7vh;
	margin-top: 20px;
}

.jumbotron h5::after{
	content: '';
	background: #e74c3c;
	display: block;
	height: 3px;
	width: 170px;
	margin: 15px auto 5px;
}

.jumbotron h6{
  text-align: center;
  color: #555!important;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 5vh;
  margin-top: 80px;
}

.jumbotron h6::after{
  content: '';
  background: #e74c3c;
  display: block;
  height: 2px;
  width: 210px;
  margin: 10px auto 5px;
}

.portfolio img{
	max-width: 100%;
	transition: transform .6s ease;
}
.row.no-padding [class*=col-]{
	padding: 0;
}

.portfolio {
	overflow: hidden;
}
.portfolio .template{
	opacity: 1;
	transition: .3s ease-in-out;
}

.portfolio .demo{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #e74c3c!important;
    color: #fff;
    padding: 8px 12px;
    border-radius: 25px;
    border: none;
    font-size: 12px;
}



.jumbotron .btn{
	background-color: #e74c3c!important;
	margin-top: 30px;
	color: #fff;
	padding: 15px 25px;
    border-radius: 30px;
}

/*----------------------------------------Our Team-------------------------------------------------*/

#team{
	padding-top: 50px;
	padding-bottom: 50px;
}

#team h5{
	text-align: center;
	color: #555!important;
	padding-bottom: 50px;
	font-weight: 500;
	font-size: 7vh;
}

#team h5::after{
	content: '';
	background: #e74c3c;
	display: block;
	height: 3px;
	width: 170px;
	margin: 15px auto 5px;
}

#team .row{
	margin-top: 50px;
}

.col-md-4{
	margin: 50px auto;
}

.profile{
	padding: 50px 10px 10px;
	background-color: #efefef;
}

.team-img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.profile img{
	top: -20%;
	position: absolute;
	left: calc(50% - 60px);
	border: 10px solid #fff;
}

.profile h3{
	font-size: 30px;
	margin-top: 10px;
	color: #e74c3c;
}

#team span{
	font-size: 18px;
	color: #333;
}

blockquote{
	font-size: 17px;
	line-height: 30px;
}

blockquote::before{
	content: '\201C';
	font-size: 60px;
	color: #e74c3c;
	position: relative;
	line-height: 20px;
	bottom: -23px;
	right: 5px;
}

blockquote::after{
	content: '\201D';
	font-size: 60px;
	color: #e74c3c;
	position: relative;
	line-height: 5px;
	bottom: -23px;
	left: 5px;
}

/*----------------------------------------Get in Touch-------------------------------------------------*/
#contact{
	background: #efefef;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}

#contact h5{
	text-align: center;
	color: #555!important;
	padding-bottom: 50px;
	font-weight: 500;
	font-size: 7vh;
}

#contact h5::after{
	content: '';
	background: #e74c3c;
	display: block;
	height: 3px;
	width: 200px;
	margin: 15px auto 5px;
}
.contact-form{
	padding: 15px;
}

.form-control{
	border: none !important;
}

::placeholder{
	color: #999 !important;
}

#contact button{
	background-color: #e74c3c !important;
	border: none !important;
	border-radius: 6px;
	transition-duration: .4s;
	color: #fff;
	padding: 12px 18px;
    border-radius: 25px;
}

.follow{
	background: #fff;
	border-radius: 4px;
	padding: 10px;
	margin: 15px;
}

.contact-info .fa{
	font-size: 20px;
	margin: 10px;
	color: #e74c3c;
	font-weight: bold;
	transition: transform .6s ease;
}

.contact-info{
	text-align: left;
}

.contact-info .fa-facebook{
	font-size: 25px;
	border: 2px solid #e74c3c;
	padding: 5px 10px;
	border-radius: 8px;
}

.contact-info .fa-instagram{
	font-size: 25px;
	border: 2px solid #e74c3c;
	padding: 5px 8px;
	border-radius: 8px;
}

.contact-info .fa-whatsapp{
	font-size: 25px;
	border: 2px solid #e74c3c;
	padding: 5px 8px;
	border-radius: 8px;
}

/*----------------------------------------Footer-------------------------------------------------*/
#footer{
	background-color: #17202a;
	padding: 12px;
	color: #abb2b9;
}

#footer h2{
	font-family: 'Italianno', cursive;
	color: #e74c3c;
	font-size: 50px;
	padding-top: 10px;
}

#footer p{
	font-size: 13px;

}

#go_to-top_button {
	position: fixed;
	width: 40px;
	height: 40px;
	bottom: 40px;
	right: 30px;
	background: #555;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 22px;
	z-index: 10;
	border-radius: 20px;
	transition: all 1s;
    transition-timing: ease-in-out;
}

.fa-heart{
	margin: 3px;
	color: red;
}